<div class="row">
  <div class="col-16">
    <div class="row align-items-center">
      <div class="col-16 col-sm-8 header-title">
        <div class="text-nowrap site-title"><a href="/" class="">Brian Lundin</a>&nbsp;<a class="site-subtitle" href="https://twitter.com/blundin">@blundin</a></div>
      </div>
      <div class="col-16 col-sm-8">
        <div class="header-nav text-muted">
          <a class="nav-text" href="/storytelling/">Storytelling</a>&nbsp;&nbsp;<a class="nav-text" href="/productivity/">Productivity</a>&nbsp;&nbsp;<a class="nav-text" href="/about.html">About</a>
        </div>
        </ul>
      </div>
    </div>
    <hr class="hr-header"/>
  </div>
</div>
