  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Brian Lundin is the Lead Writer & Story Team Producer at The Austin Stone Community Church. Brian is a storyteller, writer and geek who is passsionate about sharing stories of gospel transformation.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://micro.blog/blundin" rel="me" />
    <link rel="micropub" href="https://blundin-micropub-to-github.herokuapp.com/microblog/main">
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Place favicon.ico in the root directory -->
    <!--<link rel="apple-touch-icon" href="icon.png">-->
    <link rel="stylesheet" href="{{ '/css/main.css' | cdn }}" type="text/css">
  </head>
