<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{page.title}}{% else %}brianlundin.com{% endif %}</title>
<meta name="description" content={% if page.description %}"{{page.description}}"{% else %}"Brian Lundin is the Lead Writer for Austin Stone Worship. Brian is a storyteller, writer and geek who is passionate about sharing stories of gospel transformation."{% endif %}>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ '/css/main.css' | cdn }}" type="text/css">
{% if page.url == "/index.html" %}
  {% include homepage_head.html %}
{% endif %}
{% if page.url == "/microblog/index.html" %}
  {% include microblog_homepage_head.html %}
{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23811519-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-23811519-1');
</script>
