<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if page.title %}{{page.title}}{% else %}brianlundin.com{% endif %}</title>
<meta name="description" content="Brian Lundin is the Lead Writer & Story Team Producer at The Austin Stone Community Church. Brian is a storyteller, writer and geek who is passsionate about sharing stories of gospel transformation.">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{{ '/css/main.css' | cdn }}" type="text/css">
{% if page.url == "/index.html" %}
  {% include homepage_head.html %}
{% endif %}
{% if page.url == "/microblog/index.html" %}
  {% include microblog_homepage_head.html %}
{% endif %}
