<div class="row">
  <div class="col-sm-16">
    <div class="site-title">Brian Lundin</div>
    <div class="site-subtitle text-muted">Storyteller and Writer</div>
    <hr/>
  </div>
  <div class="col-sm-16 d-none d-md-block">
    <div class="site-description">
      Brian Lundin is the Lead Writer & Story Team Producer at The Austin Stone Community Church. Brian is a storyteller, writer and geek who is passsionate about sharing stories of gospel transformation.
      <hr/>
    </div>
  </div>
  <div class="col-sm-16">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about.html">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://code.brianlundin.com">Tech</a>
      </li>
    </ul>
  </div>
</div>
