<!-- Sidebar -->
<div class="row pt-4 pt-4 pb-4">
  <div class="col">
    <h6 class="font-weight-light">A newsletter about creativity and the stories that shape our faith and culture. </h6>
  </div>
</div>
<div class="row pb-3">
  <div class="col">
    <ul class="list-unstyled">
      <li><h6>Explore The Narrative</h6></li>
      <li><a href="/thenarrative/concepts/index.html">Concepts</a></li>
      <li><a href="/thenarrative/topics/index.html">Topics</a></li>
    </ul>
  </div>
</div>
<div class="row pb-3">
  <div class="col">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/thenarrative"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/thenarrative', 'popupwindow')"
      >
      <div class="row">
        <div class="col">
          <h6>Subscribe now</h6>
        </div>
      </div>
      <div class="form-group">
        <input type="email" name="email" id="bd-email" placeholder="Email Address" class="form-control form-control-sm position-static">
        <input type="hidden" value="1" name="embed"/>
      </div>
      <div class="form-group text-right">
        <input class="btn btn-primary btn-sm" type="submit" value="Subscribe">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col"></div>
</div>
