<div class="row">
  <div class="col-16">
    {% for post in paginator.posts %}
      <article>
        <header>
          <h1>
            {% if post.link %}
              {% capture link_title %}&rarr;&nbsp;{{ post.title }}{% endcapture %}
              <a href="{{ post.link }}">{{ link_title | markdownify }}</a>
            {% else %}
              <a href="{{ post.url }}">{{ post.title | markdownify }}</a>
            {% endif %}
          </h1>
          {% if post.subtitle %}
            <h2>{{ post.subtitle | markdownify }}</h2>
          {% endif %}
        </header>
        <div class="post-content">
          {{ post.content | markdownify }}
        </div>
        {% if post.link %}<a href="{{ post.url }}" title="Permalink"><i class="fa fa-link"></i></a>{% endif %}
        <hr>
        {% include post_footer.html %}
      </article>
    {% endfor %}
  </div>
</div>
<div class="row">
  <div class="col-16">
    {% if paginator.page_trail %}
      {% include paginator_trail.html %}
    {% endif %}
  </div>
</div>
