<div class="row post-footer">
  <div class="col-8"></div>
  <div class="col-8 text-right">
    {% if page.date %}
      <div>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          By <span itemprop="name" rel="author" class="p-author h-card">Brian Lundin</span>
        </span>
      </div>
    {% endif %}
    <div {% if page.date %}itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" {% endif %}>
      <a href="{{site.url}}{{page.url}}" class="u-url">
        {% if page.date %}{{ page.date | date: "%b %-d, %Y" }}<div style="visibility: hidden;"><time class="dt-published">{{page.date}}</time></div>
        {% else %}{{ post.date | date: "%b %-d, %Y" }}<div style="visibility: hidden;"><time class="dt-published">{{post.date}}</time></div>
        {% endif %}
      </a>
    </div>
  </div>
</div>
