<div class="row">
  <div class="col-8">
    {% if page.date %}
    <a href="https://twitter.com/share?url={{ site.url | append: page.url | url_encode | downcase }}&via=blundin" target="_blank">
      <div class="social-icon twitter-icon">Share on Twitter</div>
    </a>
    {% endif %}
  </div>
  <div class="col-8 text-right">
    {% if page.date %}
      <div>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          By <span itemprop="name">Brian Lundin</span>
        </span>
      </div>
    {% endif %}
    <div class="" {% if page.date %}itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}" {% endif %}>{% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% else %}{{ post.date | date: "%b %-d, %Y" }}{% endif %}</div>
  </div>
</div>
