<!-- subscription popup -->
<div class="toast" id="subscription_toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="mr-auto">The Narrative newsletter</strong>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    <p>Sign up now for insight on creativity and the stories that shape our faith and culture.</p>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/thenarrative"
      method="post"
      target="popupwindow"
      onsubmit="$('.toast').toast('hide');window.open('https://buttondown.email/thenarrative', 'popupwindow')"
      class="form-inline"
      >
      <div class="form-group w-100">
        <div class="input-group input-group-sm mb-3 w-100">
          <input type="email" class="form-control" placeholder="Enter your email address" aria-label="Email address" aria-describedby="button-addon2" name="email"  id="bd-email">
          <div class="input-group-append">
            <input type="submit" value="Subscribe" class="btn btn-primary" id="button-addon2"/>
          </div>
        </div>
        <input type="hidden" value="1" name="embed"/>
      </div>
    </form>
  </div>
</div>
