<!--<div class="row show-for-medium-up">
  <div class="avatar"></div>
</div>-->
<div class="row">
  <div class="small-10 medium-16 columns">
    <h2 class="site-title">Brian Lundin</h2>
    <h4 class="site-subtitle">Writer, storyteller and geek</h4>
  </div>
  <div class="small-6 medium-16 columns">
    <div class="header-link">
      <a href="/">Posts</a>&nbsp;|&nbsp;<a href="/about.html">About</a>
    </div>
  </div>
</div>
<div class="row show-for-medium-up">
  <div class="medium-16 columns">
    <p class="bio-text">Brian Lundin is a storyteller, writer, and geek who lives in Austin, TX. He is passionate about Jesus, literature, writing, and telling stories of redemption in the lives of God’s people.</p>
  </div>
</div>
<div class="row show-for-medium-up">
  <div class="medium-16 columns show-for-medium-up">
    <h4 class="header-heading">More</h4>
    <a href="http://code.brianlundin.com/apps/quickgrades/" class="header-link">Storytelling</a><br/>
    <a href="http://austinstone.org/stories" class="header-link">Story Team</a><br/>
    <a href="http://code.brianlundin.com/apps/quickgrades/" class="header-link">My Tech Blog</a><br/>
    <a href="http://code.brianlundin.com/apps/quickgrades/" class="header-link">Apps</a><br/>
  </div>
</div>
<div class="row show-for-medium-up">
  <div class="medium-16 columns">
    {% include mailchimp.html %}
  </div>
</div>