---
layout: default
pagination:
  enabled: true
  collection: microblog
  debug: false
  sort_reverse: true
---
<h1 class="microblog-page-title">Microblog</h1>
{% for post in paginator.posts %}
  <div class="row justify-content-center microblog-post">
    <div class="col-14 col-sm-13 order-sm-2">
      <div class="microblog-content">{{ post.content }}</div>
    </div>
    <div class="col-14 col-sm-3 order-sm-1">
      <div class="microblog-date">{{ post.date | date_to_string }}</div>
    </div>
  </div>

{% endfor %}
