// Grid
$grid-columns: 16;

// Typography
$font-family-sans-serif: "Avenir", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 1.1rem;
$line-height-base: 1.8;

// Theme colors
$primary:       #3333cc;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-800 !default;

// Import Bootstrap variables
@import "variables";

// If you want to assign a variable to another variable, you have to do it here
$text-muted: $gray-500;
