---
---
@charset "utf-8";

@import "functions";
@import "variable_overrides";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5.0rem;
  padding-bottom: 0rem;/* Margin bottom by footer height */
}

/*--------- Site Strcuture -----------*/
.site-title {
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 1.2rem;
  vertical-align: text-bottom;

  a {
    color: $gray-700;
  }

  a:hover {
    text-decoration: none;
    color: $primary;
  }
}

.site-subtitle-twitter-handle {
  font-weight: normal;
  font-size: 0.9rem;

  a {
    color: $gray-500;
  }

  a:hover {
    text-decoration: none;
    color: $primary;
  }
}

.hr-header {
  margin: .5rem 0 0 0;
  padding-top: 0rem;
  padding-bottom: 2rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.header-title {
  text-align: center;
  padding-bottom: 0px;
}

.header-subtitle {
  font-size: ($font-size-base * 0.6);
  text-align: center;
}

.header-nav {
  text-align: center;

  font-size: 0.85rem;
  font-weight: 500;

  padding-top: 0.7rem;

  a {
    color: $gray-500;
  }

  a:hover {
    color: $primary;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.0rem; /* Set the fixed height of the footer here */
  line-height: 4.0; /* Vertically center the text there */

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $gray-300;

  background-color: $gray-100;

  font-size: ($font-size-base * 0.8);

  a {
    color: $gray-600;
  }

  a:hover {
    color: $primary;
  }
}

.paginator-trail {
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: 1.0rem;
}

/*------------ Article layout ----------------*/
article header h1 {
  padding-top: .5rem;
  padding-bottom: .75rem;
}

article header h2 {
  color: $gray-500;
  font-size: ($font-size-base * 1.2);
  padding-bottom: .75rem;
}

.post-footer {
  padding-bottom: 2.0rem;

  font-size: ($font-size-base * 0.85);
}

.microblog-page-title {
  padding-bottom: 2.0rem;
}

.microblog-post {
  margin-bottom: 0rem;
  padding-bottom: 0rem;

  .microblog-content {
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
    margin-bottom: 1.0rem;

    background-color: $gray-100;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-300;

    font-size: ($font-size-base * 1.1);
  }

  .microblog-date {
    padding-bottom: 1.2rem;

    font-size: ($font-size-base * 0.7);
    text-align: right;
  }
}

/*------------ Article typography ------------*/
blockquote {
  background-color: $gray-100;

  margin-left: 2rem;
  padding: 1rem 1.5rem 0.2rem 1.5rem;

  font-size: ($font-size-base * 0.85);
  line-height: 1.5;
}

/*----------- Responsive stlye changes -----------*/
@include media-breakpoint-up(sm) {
  .header-title {
    text-align: left;
  }

  .header-nav {
    text-align: right;
    padding-top: 1.2rem;
  }

  .header-subtitle {
    text-align: left;
  }

  .microblog-post {
    margin-bottom: 0rem;
    padding-bottom: 0rem;

    .microblog-content {
      padding: 0.2rem 0.9rem 0.2rem 0.9rem;
      margin-bottom: 1.0rem;

      font-size: ($font-size-base * 1.3);
    }

    .microblog-date {
      padding-top: 0.5rem;

      font-size: ($font-size-base * 0.7);
    }
  }
}

@include media-breakpoint-up(md) {
  article header h1 {
    padding-top: 2.0rem;
    padding-bottom: 1.5rem;
  }

  article header h2 {
    font-size: ($font-size-base * 1.2);
    padding-bottom: 1.5rem;
  }
}
