---
---
@charset "utf-8";

@import "functions";
@import "variable_overrides";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 11.0rem;
  padding-bottom: 0rem;/* Margin bottom by footer height */
}

/*--------- Site Strcuture -----------*/
.site-title {
  font-weight: 500;
  font-size: 1.25rem;
  padding-top: 1.2rem;
  vertical-align: text-bottom;

  a {
    color: $gray-700;
  }

  a:hover {
    text-decoration: none;
    color: $primary;
  }
}

.site-subtitle-twitter-handle {
  font-weight: normal;
  font-size: 0.9rem;

  a {
    color: $gray-500;
  }

  a:hover {
    text-decoration: none;
    color: $primary;
  }
}

// .hr-header {
//   margin: .5rem 0 0 0;
//   padding-top: 0rem;
//   padding-bottom: 2rem;
//   padding-right: 0rem;
//   padding-left: 0rem;
// }

.header-title {
  text-align: center;
  padding-bottom: 0px;
}

.header-subtitle {
  font-size: ($font-size-base * 0.75);
  text-align: center;
}

.header-nav {
  text-align: center;

  font-size: 0.85rem;

  padding-top: 0.7rem;

  a {
    color: $gray-500;
  }

  a:hover {
    color: $primary;
    text-decoration: underline;
    background-color: transparent;
  }
}

.nav-text {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.header-nav-row {
  border-bottom-color: $gray-300;
  border-bottom-style: solid;
  border-bottom-width: 0px;

  padding-bottom: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 11.0rem; /* Set the fixed height of the footer here */
  line-height: 1.0; /* Vertically center the text there */

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: $gray-300;

  padding-top: 1.0rem;

  background-color: $gray-100;

  font-size: ($font-size-base * 0.8);

  a {
    color: $gray-600;
  }

  a:hover {
    color: $primary;
  }

  h6 {
    a {
      color: black;
    }
  }
}

.paginator-trail {
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: 1.0rem;
}

/*------------ Article layout ----------------*/
article {
  a {
    text-decoration: underline;
  }
}

article header h1 {
  padding-top: .5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }
}

article header h2 {
  color: $gray-500;
  font-size: ($font-size-base * 1.2);
  margin-top: 0rem;
  padding-top: 0rem;
  padding-bottom: .3rem;
}

.post-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.post-footer {
  padding-bottom: 2.0rem;

  font-size: ($font-size-base * 0.85);
}

.microblog-page-title {
  padding-top: .5rem;
  padding-bottom: .2rem;
}

.microblog-page-subtitle {
  font-size: ($h6-font-size * 0.8);
  padding-bottom: 2.0rem;
  color: $gray-600;

  a {
    color: $gray-500;
    text-decoration: underline;
  }

  a:hover {
    color: $primary;
  }
}

.microblog-post {
  margin-bottom: 0rem;
  padding-bottom: 0rem;

  .microblog-content {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;

    background-color: $gray-100;
    border-style: solid;
    border-width: 1px;
    border-color: $gray-300;

    font-size: ($font-size-base * 1.0);
  }

  .microblog-date {
    padding-bottom: 3.2rem;

    font-size: ($font-size-base * 0.7);
    text-align: right;
  }
}

/*------------ Article typography ------------*/
blockquote {
  background-color: $gray-100;

  margin-left: 2rem;
  padding: 1rem 1.5rem 0.2rem 1.5rem;

  font-size: ($font-size-base * 0.85);
  line-height: 1.5;
}

/*----------- Reading progress -------------------*/
.reading-progress {
  background: linear-gradient(to right, $primary var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 2px;
  z-index: 1;
}

/*------------- Subscription popup ----------------*/
#subscription_toast {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/*----------- Responsive stlye changes -----------*/
@include media-breakpoint-up(sm) {
  .site-title {
    font-size: 1.5rem;
  }

  .header-title {
    text-align: left;
  }

  .header-nav {
    text-align: right;
    padding-top: 1.2rem;
  }

  .header-subtitle {
    text-align: left;
  }

  .microblog-post {
    margin-bottom: 0rem;
    padding-bottom: 0rem;

    .microblog-content {
      padding-left: 1.0rem;
      padding-right: 1.0rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      margin-left: 0rem;
      margin-right: 0rem;
      margin-top: 0.2rem;
      margin-bottom: 0.5rem;

      font-size: ($font-size-base * 1.1);
    }

    .microblog-date {
      padding-top: 0.5rem;
      font-size: ($font-size-base * 0.7);
    }
  }
}

@include media-breakpoint-up(md) {
  article header h1 {
    padding-top: 2.0rem;
    padding-bottom: 1.5rem;
  }

  article header h2 {
    font-size: ($font-size-base * 1.2);
    // padding-bottom: 0;
  }
}
