---
layout: narrative
title: "The Narrative: Concepts"
pagination:
  enabled: true
  category: thenarrative
  tag: concept
  debug: false
  per_page: 20
reading_progress: false
---
<!--

TODO: Turn this into a pretty card-based display for all posts tagged 'concept' in 'thenarrative' category.

-->
<div class="row">
  <div class="col-16">
    <div class="card-deck">
      {% for post in paginator.posts %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-16">
    {% if paginator.page_trail %}
      {% include paginator_trail.html %}
    {% endif %}
  </div>
</div>
