---
layout: narrative
title: The Narrative
subtitle: Concepts
pagination:
  enabled: true
  category: thenarrative
  tag: concept
  debug: false
  per_page: 20
reading_progress: false
---
<!--

TODO: Turn this into a pretty card-based display for all posts tagged 'concept' in 'thenarrative' category.

-->
<div class="row">
  <div class="col-16">
    <div class="card-columns">
      {% for post in paginator.posts %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title | markdownify }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.subtitle | markdownify }}</h6>
            <p class="card-text">{{ post.description | markdownify }}</p>
            <a href="{{ post.url }}" class="card-link">Read</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-16">
    {% if paginator.page_trail %}
      {% include paginator_trail.html %}
    {% endif %}
  </div>
</div>
