<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="row medium-collapse large-collapse">
      <div class="small-16 medium-4 medium-offset-1 large-4 large-offset-1 large-uncentered columns site-header">
        {% include header.html %}
      </div>
      <div class="small-16 medium-10 large-10 large-uncentered columns">
        <div class="row">
          <div class="small-16 columns content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <footer class="row">
        <div class="small-16 medium-12 medium-centered large-9 large-centered columns">
          {% include footer.html %}
        </div>
      </footer>
    </div>
    {% include scripts.html %}
  </body>
</html>
